<h1>Buttons</h1>

<p><input class="btn" type="submit" value="input[type=submit].btn" /></p>
<p><input class="btn btn--primary" type="submit" value="input[type=submit].btn.btn--primary" /></p>
<p><input class="btn btn--notice" type="submit" value="input[type=submit].btn.btn--notice" /></p>
<p><input class="btn btn--alert" type="submit" value="input[type=submit].btn.btn--alert" /></p>
<p><a class="btn" href="#">a.btn</a></p>
<p><button class="btn">button.btn</button></p>
<p><input class="btn disabled" type="submit" value="input[type=submit][disabled].btn.btn--disabled" /></p>
<p><input class="btn btn--xs" type="submit" value="input[type=submit][disabled].btn.btn--xs" /> with some inline text</p>
<p><input class="btn btn--block" type="submit" value="input[type=submit].btn.btn--block" /></p>

<p><input type="text" value="Text input" /> <input class="btn" type="submit" /></p>
<p><textarea rows="1">Single-line textarea</textarea> <input class="btn" type="submit" /></p>
<p><button class="link">button.link</button> <input type="submit" class="link" value="input[type=submit].link" /> with some inline text</p>
<p><button class="link alert">button.link.alert</button> with some inline text</p>