<style>
  .color {
    overflow: hidden;
    margin: 0;
    margin-bottom: 2.5%;
    list-style: none;
    padding: 0;
  }
  .color__hex {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
  }

  .swatch__sample {
    display: block;
    content:'';
    width: 100%;
    height: 100px;
    border-bottom: 5px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .swatch {
    width: 16.25%;
    float: left;
    text-align: center;
  }
  .swatch--main {
    margin-right: 2.5%;
  }
</style>

<div id="target">

  <h2>blue</h2>
  <ul class="color">
    <li class="swatch swatch--main">
      <div class="swatch__sample" style="background-color: #00a9e5; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">#00a9e5</span>
    </li>
    
    <li class="swatch swatch--0">
      <div class="swatch__sample" style="background-color: #034a63; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">
        1. #034a63
      </span>
    </li>
  
    <li class="swatch swatch--1">
      <div class="swatch__sample" style="background-color: #036f95; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">
        2. #036f95
      </span>
    </li>
    
    <li class="swatch swatch--2">
      <div class="swatch__sample" style="background-color: #0395c8; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">
        3. #0395c8
      </span>
    </li>

    <li class="swatch swatch--3">
      <div class="swatch__sample" style="background-color: #03bbfc; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">
        4. #03bbfc
      </span>
    </li>
  
    <li class="swatch swatch--4">
      <div class="swatch__sample" style="background-color: #34c9fe; border-bottom-color: #00a9e5"></div>
      <span class="color__hex">
        5. #34c9fe
      </span>
    </li>
    
  </ul>      

  <h2>pink</h2>
  <ul class="color">
    <li class="swatch swatch--main">
      <div class="swatch__sample" style="background-color: #fa0079; border-bottom-color: #fa0079"></div>
      <span class="color__hex">#fa0079</span>
    </li>
          
    <li class="swatch swatch--0">
      <div class="swatch__sample" style="background-color: #77033b; border-bottom-color: #fa0079"></div>
      <span class="color__hex">
        1. #77033b
      </span>
    </li>
     
    <li class="swatch swatch--1">
      <div class="swatch__sample" style="background-color: #aa0354; border-bottom-color: #fa0079"></div>
      <span class="color__hex">
        2. #aa0354
      </span>
    </li>
  
    <li class="swatch swatch--2">
      <div class="swatch__sample" style="background-color: #dd036d; border-bottom-color: #fa0079"></div>
      <span class="color__hex">
        3. #dd036d
      </span>
    </li>
  
    <li class="swatch swatch--3">
      <div class="swatch__sample" style="background-color: #fd1786; border-bottom-color: #fa0079"></div>
      <span class="color__hex">
        4. #fd1786
      </span>
    </li>
  
    <li class="swatch swatch--4">
      <div class="swatch__sample" style="background-color: #fe48a0; border-bottom-color: #fa0079"></div>
      <span class="color__hex">
        5. #fe48a0
      </span>
    </li>
    
  </ul>      

  <h2>green</h2>
  <ul class="color">
    <li class="swatch swatch--main">
      <div class="swatch__sample" style="background-color: #0ecc70; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">#0ecc70</span>
    </li>
          
    <li class="swatch swatch--0">
      <div class="swatch__sample" style="background-color: #07532e; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">
        1. #07532e
      </span>
    </li>  
    
    <li class="swatch swatch--1">
      <div class="swatch__sample" style="background-color: #0b8249; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">
        2. #0b8249
      </span>
    </li>
    
    <li class="swatch swatch--2">
      <div class="swatch__sample" style="background-color: #0eb263; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">
        3. #0eb263
      </span>
    </li>
    
    <li class="swatch swatch--3">
      <div class="swatch__sample" style="background-color: #11e37d; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">
        4. #11e37d
      </span>
    </li>
    
    <li class="swatch swatch--4">
      <div class="swatch__sample" style="background-color: #35f196; border-bottom-color: #0ecc70"></div>
      <span class="color__hex">
        5. #35f196
      </span>
    </li>
    
  </ul>      

  <h2>orange</h2>
  <ul class="color">
    <li class="swatch swatch--main">
      <div class="swatch__sample" style="background-color: #f45f29; border-bottom-color: #f45f29"></div>
      <span class="color__hex">#f45f29</span>
    </li>
    
      
      <li class="swatch swatch--0">
        <div class="swatch__sample" style="background-color: #932f0b; border-bottom-color: #f45f29"></div>
        <span class="color__hex">
          1. #932f0b
        </span>
      </li>
    
      
      <li class="swatch swatch--1">
        <div class="swatch__sample" style="background-color: #c33e0d; border-bottom-color: #f45f29"></div>
        <span class="color__hex">
          2. #c33e0d
        </span>
      </li>
    
      
      <li class="swatch swatch--2">
        <div class="swatch__sample" style="background-color: #f04e13; border-bottom-color: #f45f29"></div>
        <span class="color__hex">
          3. #f04e13
        </span>
      </li>
    
      
      <li class="swatch swatch--3">
        <div class="swatch__sample" style="background-color: #f47242; border-bottom-color: #f45f29"></div>
        <span class="color__hex">
          4. #f47242
        </span>
      </li>
    
      
      <li class="swatch swatch--4">
        <div class="swatch__sample" style="background-color: #f89572; border-bottom-color: #f45f29"></div>
        <span class="color__hex">
          5. #f89572
        </span>
      </li>
    
  </ul>      

  <h2>gray</h2>
  <ul class="color">
    <li class="swatch swatch--main">
      <div class="swatch__sample" style="background-color: #e6e6e6; border-bottom-color: #e6e6e6"></div>
      <span class="color__hex">#e6e6e6</span>
    </li>
    
      
      <li class="swatch swatch--0">
        <div class="swatch__sample" style="background-color: #333333; border-bottom-color: #e6e6e6"></div>
        <span class="color__hex">
          1. #333333
        </span>
      </li>
    
      
      <li class="swatch swatch--1">
        <div class="swatch__sample" style="background-color: #808080; border-bottom-color: #e6e6e6"></div>
        <span class="color__hex">
          2. #808080
        </span>
      </li>
    
      
      <li class="swatch swatch--2">
        <div class="swatch__sample" style="background-color: #b3b3b3; border-bottom-color: #e6e6e6"></div>
        <span class="color__hex">
          3. #b3b3b3
        </span>
      </li>
    
      
      <li class="swatch swatch--3">
        <div class="swatch__sample" style="background-color: #cccccc; border-bottom-color: #e6e6e6"></div>
        <span class="color__hex">
          4. #cccccc
        </span>
      </li>
    
      
      <li class="swatch swatch--4">
        <div class="swatch__sample" style="background-color: #f6f6f6; border-bottom-color: #e6e6e6"></div>
        <span class="color__hex">
          5. #f6f6f6
        </span>
      </li>
    
  </ul>      

<hr>
<h2>SASS variables</h2>
    <textarea rows="10" cols="50">$blue:    #00a9e5;
$blue--1: #034a63;
$blue--2: #036f95;
$blue--3: #0395c8;
$blue--4: #03bbfc;
$blue--5: #34c9fe;

$pink:    #fa0079;
$pink--1: #77033b;
$pink--2: #aa0354;
$pink--3: #dd036d;
$pink--4: #fd1786;
$pink--5: #fe48a0;

$green:    #0ecc70;
$green--1: #07532e;
$green--2: #0b8249;
$green--3: #0eb263;
$green--4: #11e37d;
$green--5: #35f196;

$orange:    #f45f29;
$orange--1: #932f0b;
$orange--2: #c33e0d;
$orange--3: #f04e13;
$orange--4: #f47242;
$orange--5: #f89572;

$gray:    #e6e6e6;
$gray--1: #333333;
$gray--2: #808080;
$gray--3: #b3b3b3;
$gray--4: #cccccc;
$gray--5: #f6f6f6;
</textarea>
  </div>