<h1>Flash Messages</h1>
<p>Uses Rails’ conventions of <span class="notice">notice</span> and <span class="alert">alert</span>, for success and error messages.</p>

<div class="flash">.flash <a href="#">link</a></div>
<div class="flash flash--notice">.flash.flash--notice <a href="#">link</a></div>
<div class="flash flash--alert">.flash.flash--alert <a href="#">link</a></div>
<div class="flash flash--info">.flash.flash--info <a href="#">link</a></div>

<h2>Bulletin</h2>
<p>A full-width noticeable message at the top of the page:</p>
<div class="bulletin">This is a bulletin with a <a href="#">link</a></div>
<div class="bulletin bulletin--notice">This is a bulletin with a <a href="#">link</a></div>
<div class="bulletin bulletin--alert">This is a bulletin with a <a href="#">link</a></div>
<div class="bulletin bulletin--info">This is a bulletin with a <a href="#">link</a></div>