<h1>Fishtank Patterns</h1>

<p>This styleguide documents the patterns used in <%= link_to 'Fishtank', 'https://github.com/widernet/fishtank' %>. It aims to help maintain a consistent feel across various features.</p>

<p>At the moment, the styles are obtained from your local copy of Christian Connection i.e. <code>www.christianconnection.co.uk.dev</code>, and will work assuming you have Pow set up as instructed in the Fishtank README.</p>

<p>To reference <%= link_to 'Yelp’s styleguide', 'http://engineeringblog.yelp.com/2014/02/yelps-got-style-and-the-guide-to-back-it-up.html?utm_source=hackernewsletter&utm_medium=email&utm_term=design' %>:</p>

<blockquote>
  <p>“There are no special cases” has become our mantra. When working on a new feature, we hold fast to these rules:</p>

  <ol>
    <li>Use the pre-established patterns.</li>
    <li>No, <strong>really</strong>, please use the pre-established patterns.</li>
    <li>If the pre-established patterns do not solve your design problem, you have two options:
      <ol>
        <li>Alter a pre-existing pattern to solve your problem, and implement that change across all of Yelp via a change to the styleguide.</li>
        <li>Establish a new pattern, and integrate it into the canon of Yelp’s UI patterns for future use.</li>
      </ol>
    </li>
  </ol>
</blockquote>