<h1>Labels</h1>
<p>
  <span class="label">.label</span>
  <span class="label label--notice">.label.label--notice</span>
  <span class="label label--alert">.label.label--alert</span>
  <span class="label label--info">.label.label--info</span>
</p>