<h1>Mail Items (inbox and sent)</h1>

<article class="media mail-item">
  <a href="#" class="mail-item__link"></a>

  <div class="media__img mail-item__status-cell">
    
  </div>

  <div class="media__img--rev mail-item__actions">
    <span class="mail-item__date">
      Yesterday
    </span>

    <form>
      <input type="submit" value="Delete" class="link mail-item__delete-link alert" />
    </form>
  </div>

  <div class="media__bd mail-item__main">
    
  </div>
</article>