<h1>Messages</h1>

<article class="msg">
  <header class="msg__hd">A message header</header>
  <div class="msg__bd"><p>A message body</p></div>
  <footer class="msg__ft">A message footer</footer>
</article>

<article class="msg msg--current-user">
  <header class="msg__hd">A message header</header>
  <div class="msg__bd"><p>A message from the current user</p></div>
  <footer class="msg__ft">A message footer</footer>
</article>

<article class="msg msg--deleted">
  <header class="msg__hd">A message header</header>
  <div class="msg__bd"><p>A deleted message</p></div>
  <footer class="msg__ft">A message footer</footer>
</article>

<article class="msg msg--held">
  <header class="msg__hd">A message header</header>
  <div class="msg__bd"><p>A held message</p></div>
  <footer class="msg__ft">A message footer</footer>
</article>