<h1>Text fields</h1>
<p><input type="text" value="input[type=text]" /></p>
<p><input type="password" value="input[type=password]" /></p>
<p><input class="text-field--block" type="text" value="input[type=text].text-field--block" /></p>
<p><input type="text" disabled value="input[type=text][disabled]" /></p>

<p><textarea>textarea</textarea></p>
<p><textarea class="text-field--block">textarea.text-field--block</textarea></p>
<p><textarea disabled>textarea[disabled]</textarea></p>